.form-control {
  margin-top: 7px;
  display: block;
  font-weight: bold;
  color: #f95959;
  border: 1px solid #233142;
}

form {
  margin: 0 auto;
  max-width: 400px;
}

.primary {
  margin-top: 7px;
  background-color: #233142;
  border: 1px solid #233142;
}

.primary:hover {
  background-color: #233142;
  border: 1px solid #233142;
}

h2 {
  margin-top: 10px;
  text-align: center;
  color: #455d7a;
  font-family: "Roboto",sans-serif;
}

h3 {
  text-align: center;
  margin-top: 13px;
  font-family: "Libre Baskerville", serif;
  color: #f95959;
}

.country {
  font-family: "Libre Baskerville", serif;
  color: #f95959;
}

.temperature {
  margin-top: -5px;
  margin-left: 300px;
  font-size: 35px;
  color: #c9c7c7;
  font-family: "Roboto", sans-serif;
}

.cel {
  margin-left: 5px;
  font-size: 20px;
  color: #c9c7c7;
  font-family: "Roboto", sans-serif;
}

.parameters {
  color: #c9c7c7;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-size: 20px;
  margin-right: 300px;
}

.iconic {
  margin-top: -18px;
  display: block;
  margin-left: 210px;
}

button {
  border: 1px solid #233142;;
  background-color: #233142;
  color: #fff;
}

.git, .gitTwo{
  display: block;
  text-align: center;
  color: #455d7a;
}

.git:hover {
  color: #455d7a;
}

.gitTwo:hover {
  color: #455d7a;
}






